@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/
html {
  scroll-behavior: smooth;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

/* .main:after {
  content: "";
  background-image: url("/assets/webdev-seo-digital-api-grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
} */

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}
/* mt-6 sm:mt-12  */
.large-btn {
  @apply p-5 text-xl w-[300px] gap-3  bg-primary text-tertiary rounded-md shadow-lg font-medium flex justify-center items-center  transition-all ease-in-out delay-150 hover:bg-green-800;
}
.nav-btn {
  @apply text-base text-white bg-primary shadow-lg p-2.5 rounded-md transition-all ease-in-out delay-150 hover:bg-green-800;
}
.sections-set {
  @apply pt-12;
}
.sub-headers {
  @apply font-semibold text-center text-xl sm:text-2xl;
}
.sub-paragraph {
  @apply max-w-4xl text-center text-lg mt-8;
}
.card-title {
  @apply font-semibold text-start;
}
.service-section {
  @apply w-screen min-h-screen py-10  text-secondary;
}
.service-div {
  @apply container h-full my-auto flex flex-col justify-center items-center gap-3;
}
.service-sub {
  @apply text-base sm:text-lg max-w-4xl text-center opacity-90 z-10;
}
.service-detail {
  @apply w-full flex items-center flex-wrap lg:flex-nowrap lg:justify-between mt-6;
}
.service-image {
  @apply w-full lg:w-1/3;
}
.service-content {
  @apply max-w-2xl text-justify;
}

.service-listIntro {
  @apply my-0;
}

.service-list {
  @apply my-3;
  list-style-type: disc; /* Add bullet points */
  padding-left: 20px;
}

.service-listItem {
  /* Add styles for service-listItem */
}
.service-listItem span,
.service-listIntro span {
  @apply font-semibold text-primary;
}
#Api ul li .dark-span {
  @apply text-secondary;
}
.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto md:px-16 px-6;
}
.container {
  @apply max-w-7xl mx-auto px-6 sm:px-8 xl:px-0;
}
.nav_bar {
  @apply flex justify-between items-center;
}
.nav_link {
  @apply transition-colors duration-300 ease-in-out text-base xl:text-lg hover:text-primary;
}
.menu_links {
  @apply absolute top-28 z-30 p-5 shadow-lg flex flex-col rounded-lg gap-4 bg-tertiary;
  right: 5vw;
}

/* .blue_gradient {
  @apply bg-gradient-to-r from-primary-blue via-dark-blue to-cool-green bg-clip-text text-transparent;
} */

.featured_blog .blog_list {
  gap: 6;
  flex: 1;
}

.scroller {
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    #f9f9f9 10%,
    #f9f9f9 90%,
    transparent
  );
  mask: linear-gradient(
    90deg,
    transparent,
    #f9f9f9 10%,
    #f9f9f9 90%,
    transparent
  );
}

/* contact page */
.border-look {
  @apply min-h-fit sm:min-h-[100px] relative border-l-[2px] border-opacity-50  pl-4 after:content-[''] after:absolute after:top-0 after:left-[-2px] after:w-[2px] after:h-1/4 after:bg-primary;
}
.contact-border {
  @apply min-h-[100px] relative border-r-[2px] border-opacity-50 pr-4 after:content-[''] after:absolute after:top-0 after:right-[-2px] after:h-1/4 after:w-[2px] after:bg-primary;
}
.small-hero {
}
.about-card {
  @apply flex flex-col gap-2 rounded-lg bg-tertiary p-5 min-h-6 h-[auto] max-w-full  xl:max-w-[700px] shadow-lg;
}

.about-card-title {
  @apply text-lg font-semibold;
}
.about-action {
  @apply flex sm:flex-1 flex-col gap-3 rounded-lg bg-tertiary p-8 sm:p-12 min-h-8 h-[auto] shadow-lg relative;
}
/* blog */

.blog-lists > div:last-child hr {
  display: none;
}
.blog-lists > div:last-child .more {
  bottom: 0;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
.green-border-l {
  @apply border-l-2 border-primary  pl-2;
}
